svg {
    border-radius: 5px;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: salmon; */
  }

  ul, li {
    list-style-type: none;
  }
  
  

  .background {
    width: 100vw;
    height: 100vh;
    background-color: rgb(61, 12, 107) !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .background rect {
    /* fill: white; */
    opacity: .05;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  

  /* Estilos  propios */
  .content-login{
    height: 600px;
    width: 350px;
    /* background: salmon; */
  }

  .image-logo{
    height: 300px;
    width: auto;
  }

   .content-input input{
    border: 1px solid rgba(0,0,0, 0.45);
    width: 70%;
    background: transparent;
    color: white;
    text-align: center;
    font-size: 2em;
    height: 2em;
    font-weight: 700;
  }
   .content-input input:hover, .content-input input:focus{
    border: 1px solid rgba(0,0,0, 0.45);
    width: 70%;
    background: transparent;
    color: white;
    text-align: center;
    font-size: 2em;
    height: 2em;
    font-weight: 700;
  }
  .content-input input:focus, .content-input input:hover{
    background: transparent;
  }

  /* .content-input{
    border: 10px solid rgba(0,0,0, 0.45);
    bottom: 0;
    height: 60px;
    left: 0;
    outline: none;
    padding-left: 10px;
    right: 0;
    width: 100%;
    color: rgb(36, 6, 65);
    font-weight: 700;
    font-size: 1.5em;
  } */

  .content-input button{
    height: 50px;
    width: 70%;
    background: rgba(36, 6, 65, .7);
    border: solid 1px rgba(255, 255, 255, 0.4);
    color: white;
    font-weight: 700;
    font-size: 1.5em;
  }
  .content-input button:hover, .content-input button:focus{
    height: 50px;
    width: 70%;
    background: rgb(130, 25, 228);
    color: white;
    font-weight: 700;
    font-size: 1.5em;
    cursor: pointer;
  }

